<article class="patient-item">

  <div class="patient-item-content" style="text-align: left;">
    <h2 style="text-align: center;"> <%= medicalProfile.pTfullname%></h2> 
    
    
   
   
   
    <div class="patient-item-actions">
      
      <a class="btn btn-alt" href="/dr/medicalProfile-details/<%= medicalProfile.id %>"> View Details</a> 
      
     
      
      
    </div>
  </div>
</article>
