<%- include('../../shared/includes/head', { pageTitle: 'All Services' }) %>

</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Patient HomePage</h1>
    <p>A list of Health Services...</p>
    <p>Services for registired Patient</p>
  
  </main>
<%- include('../../shared/includes/footer') %>