<%- include('../../shared/includes/head', { pageTitle: 'Add Patent' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>

</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Add new Patient</h1>
    <%- include('includes/patient-form') %>  
  </main>
<%- include('../../shared/includes/footer') %>