<%- include('../../shared/includes/head', { pageTitle: 'All Services' }) %>

</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Services Administration</h1>
    <section>
      <h2>Manage Service</h2>
      <p>
        <a href="/admin/managment/add-patient" class="btn">Add Service</a>
      </p>
    </section>
    <section>
      <p>A list of Services...</p>
    </section>
  </main>
<%- include('../../shared/includes/footer') %>